.latest-activity {
  background: #fff;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.latest-activity h2 {
  margin: 0;
  padding: 1.5rem 0;
  font-size: 1.4rem;
}
.latest-activity ul.timeline {
  flex: 1;
  overflow-x: hidden;
  padding: 7px 2px 17px 4px;
  margin-top: -5px;
}
.latest-activity ul.timeline > li {
  padding: 2px 0 35px 0;
}
.latest-activity ul.timeline > li:before {
  content: "";
  width: 20px;
  height: 10px;
  float: left;
  display: block;
  background-size: contain;
  background-position: center;
}
.latest-activity ul.timeline > li.color_new {
  border-left: 8px solid #4a9ff9;
}
.latest-activity ul.timeline > li.color_ongoing {
  border-left: 8px solid #f9944a;
}
.latest-activity ul.timeline > li.color_implement {
  border-left: 8px solid #2ac06d;
}
.latest-activity ul.timeline > li .activity-content-container {
  display: flex;
  max-width: 100%;
}
.latest-activity ul.timeline > li .icon-col img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.latest-activity ul.timeline > li .info-col {
  line-height: 1.3;
  padding: 0 15px;
  max-width: 100%;
  overflow: hidden;
}
.latest-activity ul.timeline > li .info-col .timestamp {
  color: #d3d4d9;
  font-size: 80%;
  font-family: 'Roboto', sans-serif;
}
.latest-activity ul.timeline > li .info-col .action-detail {
  font-size: 90%;
  font-family: 'Roboto', sans-serif;
}