.contentContainer {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #E9EAED;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}
.comment.boxContainer {
  width: 75%;
  height: 180px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.comment.boxContainer div.lineSplit {
  width: 100%;
  height: 1px;
  background: #dcdee3;
}
.comment.boxContainer .header {
  color: #8899a6;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  line-height: 35px;
}
.comment.boxContainer .messageBox {
  width: 100%;
  padding: 5px;
  resize: none;
  height: 60px;
  color: #292F33;
  display: block;
  font-size: 13px;
  font-weight: 200;
  margin: 10px auto;
  border-radius: 3px;
  border: 1px solid #5cb85c;
}
.comment.boxContainer .messageBox:focus {
  outline: none;
}
.comment.boxContainer .wordCounter {
  background-color: transparent;
  color: #8899a6;
  display: inline-block;
  width: 75%;
  border: 0;
  padding: 0 15px;
  position: relative;
  vertical-align: top;
  top: 10px;
  text-align: right;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.comment.boxContainer .postButton {
  width: 80px;
  height: 35px;
  border: none;
  float: right;
  color: #FFFFFF;
  display: block;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  border-radius: 3px;
  margin: 0 10px 0 0;
  background-color: #5cb85c;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
  border: 1px solid transparent;
}
.comment.boxContainer .postButton:hover,
.comment.boxContainer .postButton:visited {
  outline: none;
}
.comment.boxContainer .postButton:active {
  background-color: #458845;
}