.nav {
  margin-top: 25px;
}

.tab-content {
  background-color: white;
  margin-bottom: 25px;
}

body {
  background: #eee !important;
}

.brugere {
  margin-bottom: 16px;
}

.icon-col img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  float: left;
  margin: 8px;
}
