.post {
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 10px;
  display: -webkit-box;
  display: flex;
  width: 70%;
  margin: 16px auto;
  background-color: rgb(245, 245, 245);
}
.post-date {
  font-size: 13px;
  color: rgb(138, 138, 138);
}
.post-author {
  color: #555;
}
.post-image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.post-image img {
  width: 64px;
  height: 64px;
}