.after-loop {
    padding: 1rem 3rem 1rem
}

.after-loop a.after-loop-item {
    color: #fff;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: .15s box-shadow ease,.15s transform ease;
    -moz-transition: .15s box-shadow ease,.15s transform ease
}

.after-loop a.after-loop-item .card-body i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    left: 1rem;
    color: rgba(255,255,255,.2);
    transition: .15s all ease
}

.after-loop a.after-loop-item:hover {
    text-decoration: none
}

.after-loop .card-new {
    background-color: #4a9ff9
}

.after-loop .card-review {
    background-color: #f9944a
}

.after-loop .card-implement {
    background-color: #e9c652
}

.after-loop .card-done {
    background-color: #2ac06d
}

@media(min-width: 992px) {
    .after-loop a.after-loop-item:hover {
        transform:translateY(-0.25rem);
        box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33,37,41,.3),0 0 1.5rem .5rem rgba(33,37,41,.05)!important
    }

    .after-loop a.after-loop-item:hover .card-body i {
        left: 1.5rem;
        font-size: 3rem
    }

    .after-loop a.after-loop-item:active {
        transform: none;
        box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15),0 0 1.5rem .5rem rgba(33,37,41,.05)!important
    }
}
nav {
  line-height:16px;
}