.controls {
  margin: 30px -10px;
}

.control {
  position: relative;
  float: left;
  width: 25%;
  padding: 0 10px;
}

@media (max-width: 600px) {
  .control {
    float: none;
    width: auto;
    margin: 0 0 15px 0;
  }

  .control.layout {
    margin: 0;
  }
}

.control-icon {
  position: absolute;
  left: 10px;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 2;
  pointer-events: none;
}

.control-field {
  position: relative;
  padding-left: 40px;
  z-index: 1;
}

/* Grid */

.grid {
  position: relative;
  max-width: 960px;
  margin: 0 -10px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.item {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 10px;
  z-index: 1;
  will-change: transform;
}

.item.muuri-item-positioning {
  z-index: 2;
}

.item.muuri-item-dragging,
.item.muuri-item-releasing {
  z-index: 9999;
}

.item.muuri-item-dragging {
  cursor: move;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item.h2 {
  height: 220px;
  line-height: 220px;
}

.item.w2 {
  width: 220px;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid;
  color: #333;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  overflow: hidden;
}

.item.red .card {
  color: #f9944a;
}

.item.green .card {
  color: #2ac06d;
}

.item.blue .card {
  color: #4A9FF9;
}
.item.yellow .card {
  color: #e9c652;
}

.card-id {
  position: absolute;
  left: 7px;
  top: 0;
  height: 30px;
  line-height: 30px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
}

.card-remove {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.card:hover>.card-remove {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* Grid Footer */

.grid-footer {
  margin: 60px 0;
  text-align: center;
}

.grid-footer .btn .material-icons {
  margin-right: 10px;
  font-size: 24px;
}



/* Icons in the selector */
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/* Material icons */

.material-icons {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
  font-size: inherit;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 15px;
  font-size: 16px;
  line-height: 26px;
  color: inherit;
  background: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select.form-control {
  padding-right: 40px;
  cursor: pointer;
}

select.form-control::-ms-expand {
  display: none;
}

.select-arrow {
  position: absolute;
  right: 10px;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 2;
  pointer-events: none;
}

.form-control:focus {
  outline: 0;
  border-color: #4a9ff9;
}

section {
  margin: 60px auto;
  padding-top: 0;
  max-width: 940px;
  text-align: left;
}

section.demo {
  margin-top: 30px;
}

section h4 {
  margin: 30px 0 15px 0;
  font-weight: 500;
  font-size: 20px;
  color: #3e3e3e;
}

@media (max-width: 600px) {
  section.demo {
    border-top: 0;
  }
}

.control-field {
  position: relative;
  padding-left: 40px;
  z-index: 1;
}