.board {
  position: relative;
  margin-left: 1%;
}

.board-column {
  position: absolute;
  left: 0;
  right: 0;
  width: 30%;
  margin: 0 1.5%;
  background: #f0f0f0;
  border-radius: 3px;
  z-index: 1;
}

.board-column-header {
  position: relative;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 3px 3px 0 0;
}

@media (max-width: 600px) {
  .board-column-header {
    text-indent: -1000px;
  }
}

.board-column.idea-new .board-column-header {
  background: #4A9FF9;
}

.board-column.idea-pending .board-column-header {
  background: #f9944a;
}

.board-column.idea-accepted .board-column-header {
  background: #2ac06d;
}

.board-column-content {
  position: relative;
  border: 10px solid transparent;
  min-height: 95px;
}

.board-item {
  position: absolute;
  width: 100%;
  margin: 5px 0;
  will-change: transform;
}

.board-item-content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .board-item-content {
    text-align: center;
  }

  .board-item-content span {
    display: none;
  }
}

section {
  margin: 60px auto;
  padding-top: 0;
  max-width: 940px;
  text-align: left;
}