.contact-form {
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.contact-form .input-block {
  border: solid 2px #757575;
  border-radius: 12px;
  padding: 16px 20px;
  width: 100%;
  height: 60px;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact-form .input-block.textarea {
  height: auto;
}

.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}

.contact-form .input-block label {
  position: absolute;
  left: 25px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 300;
  z-index: 1;
  color: #757575;
  font-size: 18px;
  line-height: 10px;
}

.contact-form .input-block .form-control {
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #000000;
}

.contact-form .input-block .form-control:focus label {
  top: 0;
}

.contact-form .square-button {
  background-color: #2ac06d;
  color: #ffffff;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  border: none;
  width: 100%;
}

.contact-form .square-button:hover,
.contact-form .square-button:focus {
  background-color: #2ac06d;
  color: #ffffff;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .contact-wrap {
    width: 60%;
    margin: auto;
  }
}