.field-title {
  position: absolute;
  top: -10px;
  left: 8px;
  font-weight: 600;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.range__slider1 {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 30px 0;
}

.range__slider1::before,
.range__slider1::after {
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  font-weight: bold;
}

.range__slider1::before {
  content: attr(data-min);
  left: 10px;
}

.range__slider1::after {
  content: attr(data-max);
  right: 10px;
}

.range__slider1 .length__title1::after {
  content: attr(data-length);
  position: absolute;
  right: -16px;
  font-variant-numeric: tabular-nums;
  color: rgb(0, 0, 0);
}

.range__slider2 {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 30px 0;
}

.range__slider2::before,
.range__slider2::after {
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  font-weight: bold;
}

.range__slider2::before {
  content: attr(data-min);
  left: 10px;
}

.range__slider2::after {
  content: attr(data-max);
  right: 10px;
}

.range__slider2 .length__title2::after {
  content: attr(data-length);
  position: absolute;
  right: -16px;
  font-variant-numeric: tabular-nums;
  color: rgb(0, 0, 0);
}

#slider {
  -webkit-appearance: none;
  width: calc(100% - (70px));
  height: 2px;
  border-radius: 5px;
  background: rgb(0, 0, 0);
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #8b8b8b;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

#slider::-webkit-slider-thumb:hover {
  background: #8b8b8b;
  transform: scale(1.2);
}

#slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #8b8b8b;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

#slider::-moz-range-thumb:hover {
  background: #000000;
}