.tag-wrapper {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  border: solid 2px white;
  border: solid 2px #999999;
  border-radius: 8px;
}

.tag-wrapper input {
  border: none;
  border-radius: 12px;
  padding: 16px 20px;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.tag-container {
  display: flex;
  flex-flow: row wrap;
}

.tag {
  pointer-events: none;
  border-radius: 6px;
  background-color: #242424;
  color: white;
  padding: 6px;
  margin: 5px;
}

.tag::before {
  pointer-events: all;
  border-radius: 6px;
  display: inline-block;
  content: 'x';
  height: 20px;
  width: 20px;
  margin-right: 6px;
  text-align: center;
  color: #ccc;
  background-color: #111;
  cursor: pointer;
}